*{
     margin: 0 px;
     padding: 0 px;
     box-sizing: border-box;
     font-family: 'Lato', sans-serif;
}

/* global css */

.global-p{

     color: rgba(39, 39, 39, 0.60);
     font-size: 13px;
     font-weight: 400;
     line-height: 27px;
     width: 545px;

}

.btn{
     border-radius: 8px;
     background: #E55473;
     padding: 18px 33px;
     border: 0;
     color: white;

}

.offer-head{
     color: #272727;
     font-weight: 800;
}





/* project css */

/* Header section started=> */

.header{
     height: 600px;
     display: flex;
     justify-content: space-around;
     background: rgba(229, 84, 115, 0.10);
     align-items: center;
}


.heading-1{
     color: #272727;
     font-size: 56px;
     font-weight: 800;
     width: 600px;
  
}

.img-1{
     width: 400px;
     height: 500px;
}


/* Feature section started => */

.feature{}

.feature-items{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     margin-top: 40px;
}

.feature-items h2{
     color: #272727;
     text-align: center;
     font-weight: 800;
     margin-top: 15px;
     margin-bottom: 0px;

}

.feature-items p{
     color: rgba(39, 39, 39, 0.60);
     text-align: center;
     font-weight: 400;
     line-height: 30px;
}


.image-section{
     display: flex;
     gap: 80px;
     justify-content: center;
     margin-top: 15px;

}


.image-2{
     width: 250px;
     height: 320px;
     padding: 20px;
     border-radius: 300px 300px 0px 0px;
     background: rgba(167, 33, 98, 0.15);
     padding-bottom: 0px;

}

.feature-img h5{
    text-align: center;
}


/* middle-section started from here */

.middle-section{
     border-radius: 8px;
     background: rgba(39, 39, 39, 0.05);
     width: 920px;
     height: 170px;
     margin-left: 210px;
     margin-top: 35px;
     display: flex;
     gap: 120px;
     justify-content: center;
     align-items: center;
     padding: 10px;
}


.middle-img{

     width: 55px;
     height: 55px;
     margin-left: 35px;
     /* margin-bottom: 0px; */
     margin-top: 13px;
}

.middle h5{
     color: rgba(39, 39, 39, 0.80);
     text-align: center;
     font-size: 13px;
     font-weight: 600;
     line-height: 35px;
     margin-top: 0px;

}


/* offer section started */

.offer{
     border-radius: 8px;
     background: rgba(229, 84, 115, 0.05);
     width: 100%;
     height: 350px;
     margin-top: 50px;
}

.offer-div{
     margin-left: 375px;
     padding-top: 77px;
}
.offer h2{

}

.offer p{

}

.offer button {

     margin-left: 96px;
     margin-top: 5px;
     
}

.offer-color{
     color: #E55473;
}


/* instragram section */

.instragram{}

.insta-heading{

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 50px;

}

.insta-heading h3{
     font-size: 26px;

}

.insta-heading p{

     padding-left: 110px;
     margin-top: 0px;

}

.insta-image{
     display: flex;
     gap: 30px;
     margin-left: 210px;
     margin-top: 36px;


}

.insta-pic{
         
         width: 209px;
         height: 240px;
     
}


/* latest section added */

.latest-section{
     border-radius: 8px;
     background: url("./images/Rectangle 9.png"), lightgray 0px -203.444px;
     width: 928px;
     height: 300px;
     background-repeat: no-repeat;
     background-size: cover;
     margin-left: 207px;
     margin-top: 50px;

}

.latest-header{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.latest-header h3{
     padding-top: 55px;
     font-size: 26px;

}

.latest-header p{
     
    padding-left: 183px;
    margin-top: 0px;


}

.latest-form{

     display: flex;
     /* align-items: center; */
     justify-content: center;
     /* border: none; */
     gap: 10px;
     margin-top: 5px;

}

.email{
     border: none;
     border-radius: 5px;
     padding: 5px;
     padding-right: 180px;

}


/* footer section added */